// .navBar {
//   display: inline;
// }

header {
  margin-bottom: 1.5rem;
  text-align: center;
  ul {
    list-style: none;
    float: left;
  }
}

.layoutContainer {
  margin: 1rem auto;
  max-width: 950px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1rem;
  background-color: $primaryGreen;
  .footerLinks {
    list-style: none;
    float: left;
  }
  text-align: center;
  margin-top: 10px;

}

.logo {
  font-family: $logoFont;
  font-weight: 100;
  color: $primaryPink;
  letter-spacing: 3px;
  span {
    color: $primaryGreen;
  }
}

.logoContainer {
  align-self: center;
}



