// .navBar {
//   display: inline;
// }

header {
  margin-bottom: 1.5rem;
  text-align: center;
  ul {
    list-style: none;
    float: left;
  }
}

.layoutContainer {
  margin: 1rem auto;
  width: 90%;
  // height:100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: $logoFont;
  font-weight: 100;
  font-size: 40px;
  color: $primaryPink;
  letter-spacing: 3px;
  span {
    color: $primaryGreen;
    font-size: 55px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1rem;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.icon {
  margin: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.fbIcon {
  width: 24px;
  height: 24px;
}

.icons {
  display: flex;
}

.pageBreak {
  width: 100%;
}

