@import "~bulma/bulma.sass";
$primaryPink: #EA5C6E;
$primaryPalePink: #f3a0aa;
$primaryGreen: #D7DB35;
$primaryPaleGreen: #e4e776;
$primaryGrey: #3d3d3d;
$logoFont: adobe-ming-std;
@import "./common.scss";
@import "./products.scss";


body {
  font-family: source-han-sans-traditional, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: $primaryGrey;
  a {
    color: $primaryGrey;
  }
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

.logoImg {
  width: 300px;
  height: 200px;
}
